<!DOCTYPE html>
<html>
  <head>
    <title>BlueBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <% if logged_in? %>
      <script id="bootstrap-current-user" type="text/javascript">
      	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		  user: current_user).html_safe %>
      </script>
    <% end %>

    <script>
      window.turtleicon = "<%= image_url('turtle-i.png') %>"
      window.fishicon = "<%= image_url('fish-i.png') %>"
      window.whaleicon = "<%= image_url('whale-i.png') %>"
      window.smallfishicon = "<%= image_url('favicon.ico') %>"
      window.koi = "<%= image_url('koi.png') %>"
      
    </script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
      rel="stylesheet" 
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
     crossorigin="anonymous" >
     
     <meta property="og:title" content="The Blue Book" />
     <meta property='og:image' content="<%= image_url('app/assets/images/thebluebook.png') %>"/>
     <meta property="og:description"
       content="A marine themed Facebook clone built with Ruby on Rails and React"
     />
     <meta property="og:url"
       content="https://thebluebook.herokuapp.com/"
     />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
