<!DOCTYPE html>
<html>
  <head>
    <title>BlueBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <% if logged_in? %>
      <script id="bootstrap-current-user" type="text/javascript">
      	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		  user: current_user).html_safe %>
      </script>
    <% end %>

    <script>
      window.turtleicon = "<%= image_url('turtle-i.png') %>"
      window.fishicon = "<%= image_url('fish-i.png') %>"
      window.whaleicon = "<%= image_url('whale-i.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
